@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
main{
    background-image: url(../imagem/pexels-valeriya-1028427.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
    position: relative;
    margin: 0px 10px;
}
#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#conteudo > .titulo > h1{
    font-size: 5em;
    text-align: center;
    color: white;
}
#conteudo > .titulo > h1 > strong{
    color: red;
}
#conteudo > .texto > p{
    font-size: 2em;
    text-align: center;
    color: white;
}
#conteudo > .button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#conteudo > .button > input{
    height: 60px;
    width: 200px;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    background-color: rgba(255, 0, 0, 0.897);
}
#conteudo > .button > input:hover{
    background-color: white;
    cursor: pointer;
}