@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
main{
    background-image: url(../imagem/pexels-valeriya-1028427.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#conteudo > .titulo > h1{
    font-size: 3em;
    text-align: center;
    color: white;
}
#conteudo > .titulo > h1 > strong{
    color: red;
}
#conteudo > .texto > p{
    background-color: black;
    font-size: 1.5em;
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    top: 50%;
}
#conteudo > .button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#conteudo > .button > button{
    height: 60px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.822);
    color: white;
    font-weight: bolder;
}
#conteudo > .button > button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}