@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(128, 128, 128, 0.514);
}
header{
    height: 60px;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.container{
    padding-top: 5px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}
.pesq{
    padding-top: 12px;
    margin-left: 10px;
}
.pesquisa{
    width: 200px;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.308);
}
#fluxo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.house, .people, .suitecase, .chat, .bell{
    text-align: center;
    margin: 0px 5px;
    padding: 0px 15px;
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: black;
    
}