@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    width: auto;
}
body{
    background-color: rgba(128, 128, 128, 0.514);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header{
    height: 60px;
    width: 1400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#container{
    padding-top: 5px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}
.pesq{
    padding-top: 12px;
    margin-left: 10px;
}
.pesquisa{
    width: 200px;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.308);
}
#fluxo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.house, .people, .suitecase, .chat, .bell, .login{
    text-align: center;
    padding: 0px 10px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.house:hover{
    border-bottom: 3px solid black;
}
.people:hover{
    border-bottom: 3px solid black;
}
.suitecase:hover{
    border-bottom: 3px solid black;
}
.chat:hover{
    border-bottom: 3px solid black;
}
.bell:hover{
    border-bottom: 3px solid black;
}
.login:hover div{
    display: block;
}
.login div{
    display: none;
}
#usuario{
    border: 1px solid black;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.61);
}
#usuario div{
    text-align: left;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}
.perfil, .conta, .gerenciar, .sair{
    background-color: white;
    padding: 4px;
    width: auto;
}
.perfil h3{
    padding: 2px;
}
.perfil p{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.conta a{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.gerenciar a{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}